* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;

  --primary-light: rgb(255, 255, 255);
  --primary-dark: rgb(229, 232, 235);
  --accent-main: rgb(74, 156, 223);
  --accent-secondary: rgb(255, 224, 86);
}

img {
  border-radius: 50%;
}

.container {
  display: grid;

  height: 100vh;

  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 5fr;
}

.header {
  background-color: var(--primary-light);

  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  gap: 16px;
  padding: 24px 64px 24px 32px;
}
.search-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.search-form input {
  width: 100%;
  background-color: var(--primary-dark);
  border-radius: 12px;
  height: 24px;
  min-width: 150px;
  max-width: 600px;
  border: none;
}

.current-user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;

  font-weight: 700;
  font-size: 1.12rem;
}
.current-user img {
  width: 40px;
  height: auto;
}

.welcome-user {
  display: flex;
  align-content: center;
  gap: 12px;
}

.welcome-user img {
  width: 60px;
  height: auto;
}

.welcome-message {
  font-weight: 700;
  align-self: center;
}

.welcome {
  font-size: 0.8rem;
  margin-bottom: 6px;
}

.actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}

.actions button {
  background-color: var(--accent-main);
  color: var(--primary-light);
  border: none;
  border-radius: 16px;
  width: 80px;
  height: 32px;
}

.sidebar {
  color: white;
  background-color: var(--accent-main);

  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.sidebar .title {
  font-size: 2rem;
  margin: 16px;
}

.sidebar ul {
  margin-right: 24px;
  margin-top: 48px;
  display: grid;
  gap: 16px;
}
.sidebar li a {
  font-size: 1.24rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sidebar i {
  text-align: center;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.main {
  background-color: var(--primary-dark);

  grid-column: 2 / -1;

  display: grid;
  grid-template-areas:
    "projects projects announcements"
    "projects projects announcements"
    "projects projects trending"
    "projects projects trending";

  gap: 16px;
  padding: 16px;
}

.section-title {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.card {
  background-color: var(--primary-light);
  box-shadow: 2px 2px 8px rgba(158, 158, 158, 0.459);
  border-radius: 8px;
  padding: 16px;
}

.card li {
  list-style-type: none;
}

.projects-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.card.project {
  position: relative;
}

.card.project::before {
  content: "";
  width: 10px;
  height: 100%;
  background-color: var(--accent-secondary);
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.project-card-content-container {
  padding: 24px;
  height: 100%;
  display: grid;
  grid-template-rows: auto 3fr 1fr;
  gap: 8px;
}

.card-title {
  font-weight: 700;
}

.card-buttons button,
.card.project .description {
  color: rgb(148, 148, 148);
}

.card-buttons {
  display: flex;
  justify-self: end;
  justify-content: space-around;
  width: 150px;
}

.card-buttons button {
  background: none;
  border: none;
  font-size: 1.2rem;
}

.section-projects {
  grid-area: projects;
}

.section-announcements {
  grid-area: announcements;
}
.section-trending {
  grid-area: trending;
}

.projects-grid-container,
.card.announcement,
.card.trending {
  height: calc(100% - 64px);
}
